/* Start Body */
body {
    background-image: url("..gambar/abstrak.jpg");
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 16px;
    line-height: 1.5em;
    margin: 5;
    padding: 5;
}
/* End Body */

/* Start Debug */
.bg-darktur {
   background-color: lightpink;
}
.bg-rbg {
    background-color: lightpink;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
.container-full{
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:Link,
a:visited {
    color: white;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer*/
    .menu-primer ul{
        background-color: 
        border-radius: 4px;
        box-shadow: 
            0 3px 5px -1px navy;
            0 6px 10px 0 navy;
            0 1px 18px 0 navy;
    }

    .menu-primer li{
        border-right: 1px solid #d1d5da;
        display: inline-block;
        margin: 0 -4px;
    }

    .menu-primer a {
        color: #000000;
        font-size: 13px;
        display: inline-block;
        letter-spacing: 1px;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    .menu-primer a:hover {
        background-color: lightpink;
        color: black;
        text-decoration: none;
    }

    .menu-primer .active {
        background-color: lightpink;
        color: #000000;
    }
/* End Menu Primer*/

/* Start Anchor / Hyperlink */
a:Link,
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400px;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
    text-align: center;
}
h2 {
    font-size: 24px;
    text-align: left;
}
h3 {
    font-size: 18px;
    text-align: left;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jombotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
    width: 49%;
}

.main-home-two {
    float: right;
    width: 49%;
    margin-left: 5px;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}

/* End Main */
/* Start Box */
.box-heading {
    background-color: lightpink;
    border: 1px solid #000000;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #eaecef; 
    border: 1px solid #000000;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
.box-heading
/* End Box */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h2 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder-one,
.menu-sekunder-two {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two {
    width: 50%;
}
/* End Menu Sekunder */